---
page_title: "Provider: TLS"
description: |-
  The TLS provider provides utilities for working with Transport Layer Security keys and certificates.
---

# {{ .ProviderShortName | upper }} Provider


A simple terraform provider in order to manage domains at [sweego](https://www.sweego.io/).
I develop this provider in order to help developers and administrators use european based
alternatives for SMTP relaying.

## Setup

In order to start using the provider, you will need to create API Credentials. This can be done
by clicking on your account name in the top right and selecting "Credentials". You can then use
the newly created API Credentials in order to configure the provider:

```terraform
provider "sweego" {
  api_key = "YOUR_API_KEY"
  client_id = "YOUR_CLIENT_ID"
}
```


## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
